*{
  background-color: #faf4f9;
}
body {
  padding: 0px;
  margin:0px;
}
header {
    color:rgb(5, 0, 0);
    text-align:center;
    padding:5px;
}

.ustmenu ul {
  list-style-type: none;
  overflow: hidden;
  padding-left: 0;
  margin: 0;
  text-align: center;
}

.ustmenu ul li {
  display: inline-block;
  text-align: center;
}

.ustmenu ul li a {
  color: white;
  display: block;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

.ustmenu ul li a:hover{
  color: rgb(206, 165, 42);
}

.ustmenu ul li a::before {
  content: "|";
  margin-right: 5px;
  opacity: 0;
  transition: all 0.5s;
}

.ustmenu ul li a::after {
  content: "|";
  margin-right: 5px;
  opacity: 0;
  transition: all 0.5s;
}

.ustmenu ul li a:hover:before {
  opacity: 1;
  margin-right: 10px;
}

.ustmenu ul li a:hover:after {
  opacity: 1;
  margin-left: 10px;
}

h1 {
  font-family: 'Gaegu', cursive;
  margin: 20px 0;
  font-size: 40px;
  text-align: center;
}

h2, h3, h4, h5, h6 {
  font-family: 'Gaegu', cursive;
  margin-bottom: 0;
  padding: 0 10px;
  font-size: 30px;
}
p {
font-size: 16px;
font-family: roboto;
padding: 10px;
line-height: 1.4;
margin: 0px;
}

img {
  border-radius: 10px;
  width : 100%;
}

.gray_background {
  background-color: bisque;
  padding: 40px 60px;
}
.content-row {
  display: flex;
}

.content-row div {
  margin: 20px;
}

.container {
  margin: 0 auto;
  width: 750px;
}

.ortalama {
  width: 60%;
  display: inline-block;
}
.container header nav a {
  margin: 0 10px;
  border: 1px solid lightgray;
  padding: 20px;
  display: inline-block;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
  background: #E79947;
}
.container header nav a:hover {
background-color: white;
}
.hakkimizda {
  margin-top: 20px;
}
.contact-section {
  border-bottom: 1px dashed white solid;
  padding: 20px 0;
}

.aparatif_img {
  width: 80%;
  margin: 0 auto;
  display:block;
}
.contact-section .adress {
  line-height: 2;
}
footer {
  width: 100%;
  background-color: #86048690;
  border-top: 1px dashed white;
}
footer h2 {
  background-color:#86048690 ;
}

footer .footer-content { 
  margin: 0 auto; 
  width: 750px;
  background-color:#86048690 ;
}

footer .footer-content h3 {
  font-family: 'Gaegu', cursive;
  margin-bottom: 0;
  padding: 0 10px;
  font-size: 20px;
}

footer nav {
  display: flex;
  background-color:#86048690 ;
}
footer a {
  margin:10px;
  color:black;
  text-decoration: underline;
  background-color:#86048690 ;
}

footer nav a:hover {
  color: white;
}

footer .footer-content .copyright {
  padding: 20px 0;
  text-align: center;
  background-color:#86048690 ;
}
